body { 
    text-align:center;
    background-color: lightgray;
}

div {
    max-width: 230px;
}

input {
    float:left;
    margin: 1px;
    width:45px;
}

textarea {
    width: 206px;
    height: 71px;
}

.botoes {
    padding-left:20px;
}
.btn-success {
    width:91px;
}

#active {
  margin-right: 10px;
  font-size: 32px;
}

#history {
  position: relative;
  height: 9px;
  bottom: 11px;
  margin-right: 14px;
  color: #8b8b7b;
  font-size: 10px;
}

#screen {
  width: 206px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #808080;
  border-radius: 6px;
  background-color: #bef7f4;
}